$vspace: 15px;
$hspace: 10px;

$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

$clyde: #FFA101;
$blinky: #FE2601;
$pinky: #FDB1B1;
$inky: #00DEE1;
$deepblue: #2800FF;
$mineshaft: #333;
$redberry: #900;
